footer {
  padding: .75rem;
  border-bottom: .1rem solid #f77;
  background: #edefed;
  color: #878787;
  margin-bottom: 1rem;
  
  .footer-container {
    padding: .75rem;
    text-align: center;
    a {
      color: #878787;
    }
  }
}
